{% extends 'base.html' %}

{% block title %}レストラン検索詳細{% endblock title %}

{% block content %}
<div class="container mt-5">
    <!-- <h1>レストラン詳細</h1> -->
<div class="card shadow-sm border-0 mx-auto mb-3 d-flex align-items-center"
     style="max-width: 900px;">

    <div class="row g-0">

        <div class="col-md-5">
            <img src="{{ restaurant.photo }}"
                 class="img-fluid rounded-start detail-img"
                 alt="{{ restaurant.name }}">
        </div>

        <div class="col-md-7">
            <div class="card-body p-4">
                <h2 class="card-title mb-4">
                    {{ restaurant.name }}
                </h2>

                <p class="card-text">
                    <strong>住所:</strong>
                    {{ restaurant.address }}
                </p>

                <p class="card-text">
                    <strong>営業時間:</strong>
                    {{ restaurant.open }}
                </p>

                <p class="card-text">
                    <strong>ジャンル:</strong>
                    {{ restaurant.genre }}
                </p>

                <p class="card-text">
                    <strong>予算:</strong>
                    {{ restaurant.budget }}
                </p>

                <a href="{{ restaurant.url }}"
                   target="_blank"
                   class="btn btn-primary mt-3 w-100">
                    予約はこちら
                </a>
            </div>
        </div>
    </div>
    <p>
        <a href="{% url 'index' %}?lat={{ request.GET.lat }}&lng={{ request.GET.lng }}&range={{ request.GET.range }}&keyword={{ request.GET.keyword }}&genre={{ request.GET.genre }}&budget={{ request.GET.budget }}&page={{ request.GET.page }}">
            検索ページに戻る
        </a>
    </p>
</div>



</div>

{% endblock content %}