{% extends 'base.html' %}
{% load static %}
{% block title %}レストラン検索アプリ{% endblock title %}

{% block content %}

<div class="container">
    <form method="get" class="mb-3">
    <!-- <button type="button" id="get-location-btn" class="btn btn-primary mb-3">現在地を取得</button> -->
    <input type="hidden" id="latitude" name="lat">
    <input type="hidden" id="longitude" name="lng">
    <select name="range" class="form-select mb-3" style="width: auto;">
        <option value="1">300m</option>
        <option value="2">500m</option>
        <option value="3" selected>1000m</option>
        <option value="4">2000m</option>
        <option value="5">3000m</option>
    </select>
    <button type="submit" class="btn btn-success mb-3">検索</button>
    </form>

    <p>現在地: {{ lat }}, {{ lng }}, 範囲: {{ range }}, 検索結果: {{ results_available }}</p>
    <h1>レストラン一覧</h1>
    {% for restaurant in restaurants %}
        <div class="card mb-3" style="max-width: 540px;">
            <a href="{% url 'detail' restaurant.id %}" class="text-decoration-none text-dark">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="{{ restaurant.photo }}" class="img-fluid rounded-start" alt="{{ restaurant.name }}">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ restaurant.name }}</h5>
                    <p class="card-text">{{ restaurant.access }}</p>
                    <!-- <p class="card-text">{{ restaurant.address }}</p> -->
                    <!-- <p class="card-text">{{ restaurant.genre }}</p> -->
                    <p class="card-text">予算: {{ restaurant.budget }}</p>
                    <p class="card-text"><small class="text-body-secondary">{{ restaurant.genre }}</small></p>
                </div>
                </div>
            </div>
            </a>
        </div>

    {% endfor %}
</div>
<script src="{% static 'js/geolocation.js' %}"></script>
{% endblock content %}
